<template name="scrollInterception">
  <div class="absolute" style="background:linear-gradient(to bottom, #309bf2 0%,#94d361 100%);height:200%">
    <div class="margin-large padding-large">
      <ul class="scroll-list list-group" style="margin-top:400px;overflow:auto;height:300px;">
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
        <li class="list-group-item">
          Sample Text
        </li>
      </ul>
    </div>
  </div>
</template>