<template name="layout">
  <header class="navbar navbar-default navbar-fixed-top soft-shadow" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bookmarks</a>
    </div>
  </header>

  <div id="articlesColumn" class="row content-inner no-padding">
    <div class="col-sm-4 col-md-3 content-column">
      {{> articlesBookmarkedList}}
      {{> articlesList}}
    </div>
    <div id="article-content" class="col-sm-8 col-md-9 content-column no-padding--right">
      {{> yield}}
    </div>
  </div>

  <footer class="background-soft">
    <div class="col-sm-12">
    </div>
  </footer>
</template>