/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

footer p {
  line-height: 30px;
}

/* Custom Bookmarks CSS
-------------------------------------------------- */

body > .content-inner {
  position: absolute;
  margin: 50px 0;
  padding: 0 15px;
  height: calc(100% - 80px);
  overflow-y: hidden;
}

.content-column {
  height: 100%;
  overflow-y: scroll;
}

/* Custom classes for managing spacing and padding
------------------------------------------------- */

.no-margin {
  margin: 0 !important;
}
.no-margin--top {
  margin-top: 0 !important;
}
.no-margin--bottom {
  margin-bottom: 0 !important;
}
.no-margin--left {
  margin-left: 0 !important;
}
.no-margin--right {
  margin-right: 0 !important;
}

.margin-auto {
  float: none;
  margin: 0 auto !important;
}
.margin {
  margin: 15px !important;
}
.margin-large {
  margin: 30px !important;
}

.margin-top {
  margin-top: 15px !important;
}
.margin-top--small {
  margin-top: 8px !important;
}
.margin-top--large {
  margin-top: 30px !important;
}

.margin-bottom {
  margin-bottom: 15px !important;
}
.margin-bottom--small {
  margin-bottom: 8px !important;
}
.margin-bottom--large {
  margin-bottom: 30px !important;
}

.margin-left {
  margin-left: 15px !important;
}
.margin-left--small {
  margin-left: 8px !important;
}
.margin-left--large {
  margin-left: 30px !important;
}

.margin-right {
  margin-right: 15px !important;
}
.margin-right--small {
  margin-right: 8px !important;
}
.margin-right--large {
  margin-right: 30px !important;
}

.no-padding {
  padding: 0 !important;
}
.padding-small {
  padding: 8px !important;
}
.padding-large {
  padding: 30px !important;
}

.no-padding--top {
  padding-top: 0 !important;
}
.no-padding--bottom {
  padding-bottom: 0 !important;
}
.no-padding--left {
  padding-left: 0 !important;
}
.no-padding--right {
  padding-right: 0 !important;
}

.padding-top {
  padding-top: 15px !important;
}
.padding-top--small {
  padding-top: 8px !important;
}
.padding-top--large {
  padding-top: 30px !important;
}
.padding-bottom {
  padding-bottom: 15px !important;
}
.padding-bottom--small {
  padding-bottom: 8px !important;
}
.padding-bottom--large {
  padding-bottom: 30px !important;
}
.padding-left {
  padding-left: 15px !important;
}
.padding-left--small {
  padding-left: 8px !important;
}
.padding-left--large {
  padding-left: 30px !important;
}
.padding-right {
  padding-right: 15px !important;
}
.padding-right--small {
  padding-right: 8px !important;
}
.padding-right--large {
  padding-right: 30px !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.absolute.top {
  bottom: auto;
}
.absolute.right {
  left: auto;
}
.absolute.bottom {
  top: auto;
}
.absolute.left {
  right: auto;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
}

/* Custom classes for managing appearance
------------------------------------------------- */

.spinner {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  top: 50% !important;
  left: 50% !important;
}

* {
  -webkit-transition: all .15s ease-out;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}

.circle {
  border-radius: 100%;
}

.soft-shadow {
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.075);
  -ms-box-shadow: 0 2px 3px rgba(0,0,0,.075);
  box-shadow: 0 2px 3px rgba(0,0,0,.075);
}

.content-column > .row.sticky-top {
  border: 1px solid #DDD;
  border-top: none;
}

.content-column > .row > .list-group a {
  border-radius: 0;
}

.background-light {
  background-color: #FFF;
}

.background-light--faded {
  background-color: rgba(255, 255, 255, .95);
}

.background-soft {
  background-color: rgba(235, 235, 235, 1);
}

.background-soft--faded {
  background-color: rgba(235, 235, 235, .3);
}

.article-excerpt {
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-bookmarks-items .list-group-item {
  border-left: 3px solid rgba(253, 169, 41, 1);
  background: rgba(235, 235, 235, .3);
}
.list-bookmarks-items .list-group-item.active {
  border-left: 3px solid rgba(253, 169, 41, 1);
  background: rgba(235, 235, 235, 1);
}